#HommeBanners{
    margin-top: 70px;
}
.silde{
    width: 100%;
    height: 510px;
    
}
.silde1_content{
    background: linear-gradient(90deg, #333, transparent);
    padding: 2em 3em;
    height: 100%;
    display: grid;
    grid-template-columns: 550px 1fr;
}
.silde1_content_left h1{
    margin-bottom: 10px;
    color: #80d4d4f3;
}
.silde1_content_left p{
    color: #fff;
    margin-bottom: 10px;

}
.silde1_content_left button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--or);
    color: white;
    font-size: 17px;
    cursor: pointer;
}