#SideBar{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: white;
    width: 220px;
    z-index: 4000;
    transition: .4s;
}
.SideBar_container{

}
.SideBar_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid #cecece;
}
.SideBar_icon_top{
    color:#333;
}
.SideBar_right img{
    width: 100px;
    object-fit: cover;
}
.SideBar_link{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    border-bottom: 1px solid #cecece;
    padding: 10px 20px;
    transition: .4s;
}
.SideBar_link:hover{
    background-color:#cecece ;
}
.SideBar_link  span{
    color: #333;
}
.SideBar_link .SideBar_icon{
    color: #333;
}