.AboutZara_content {
    width: 85%;
    margin: 0px auto;
    /* background-color: green; */
}

.AboutZara_title {
    padding: 30px 0px;
}

.AboutZara_title h1 {
    color: var(--bg);
    text-align: center;
}

.AboutZara1 img {
    width: 300px;
}

.TeamAbout_content {
    position: relative;
    width: 630px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

#TeamAbout {
    width: 100%;

}

.TeamAbout_img {
    background-color: var(--bg);
    width: 230px;
    height: 320px;
}

.TeamAbout_img img {
    width: 230px;
    height: 250px;
    object-fit: cover;
}

.TeamAbout_img1 {
    transform: rotateZ(-45deg);
    margin-left: -80px
}

.TeamAbout_img2 {
    transform: rotateZ(45deg);
}

.TeamAbout_img3 {
    transform: rotateZ(-45deg);
    margin-left: -80px;
}

.TeamAbout_img4 {
    transform: rotateZ(45deg);
}

.TeamAbout_dec {
    padding: 5px 10px;
    text-align: center;
}

.TeamAbout_dec h3,
.TeamAbout_dec h4 {
    color: white;
}

.AboutZara_container {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.AboutZara_foot_content {
    margin-top: 2%;
}

.AboutZara_foot_dec {
    width: 85%;
    margin: 0px auto;
    margin-top: 3%;

}

.AboutZara1_left {
    padding-bottom: 3%;
}