.AboutZara_content {
    width: 85%;
    margin: 0px auto;
    /* background-color: green; */
}

.AboutZara_title {
    padding: 30px 0px;
}

.AboutZara_title h1 {
    color: var(--bg);
    text-align: center;
}

.AboutZara1 img {
    width: 300px;
}

.TeamAbout_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 150px; */
}

#TeamAbout {
    width: 100%;
}
.TeamAbout_container{
    display: flex;
    justify-content: center;

}
.TeamAbout_img {
    background-color: var(--bg);
    width: 230px;
    height: 320px;
    display: grid;
    grid-template-rows: 1fr 70px;
}

.TeamAbout_img img {
    width: 230px;
    height: 240px;
    object-fit: cover;
}

.TeamAbout_img1 {
    transform: rotateZ(-45deg);
    margin-top: -50px;
    margin-right: 50px;
}

.TeamAbout_img2 {
    transform: rotateZ(45deg);
    margin-left: 30px;

}

.TeamAbout_img3 {
    transform: rotateZ(-45deg);
    margin-right: 80px;
    margin-bottom: 50px;
}

.TeamAbout_img4 {
    transform: rotateZ(45deg);
    margin-left: 75px;
    margin-bottom: -10px;

} 
.TeamAbout_dec_content{
    display: flex;
    align-items: center;

}
.TeamAbout_dec {
    padding: 5px 10px;
    text-align: center;
}

.TeamAbout_dec p,
.TeamAbout_dec h6 {
    color: white;
}

.AboutZara_container {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.AboutZara_foot_content {
    margin-top: 2%;
}

.AboutZara_foot_dec {
    width: 85%;
    margin: 0px auto;
    margin-top: 3%;

}

.AboutZara1_left {
    padding-bottom: 3%;
}
@media screen and (max-width:990px) {}
@media screen and (max-width:700px) {
    .TeamAbout_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 15px;
    }
    .TeamAbout_img1 {
        transform: rotateZ(0deg);
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .TeamAbout_img2 {
        transform: rotateZ(0deg);
        margin-left: 0px;
    
    }
    
    .TeamAbout_img3 {
        transform: rotateZ(0deg);
        margin-right: 0px;
        margin-bottom: 0px;
    }
    
    .TeamAbout_img4 {
        transform: rotateZ(0deg);
        margin-left: 0px;
        margin-bottom: 0px;
    
    } 
}
@media screen and (max-width:450px) {
    .TeamAbout_content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}