.GlobalAboutZara-container {
    width: 85%;
    margin: 0px auto;
    padding-top: 4%;
}

.GlobalAboutZara-container h1 {
    color: var(--bg);
}

.GlobalAboutZara-content {
    margin-top: 1em;
}

.GlobalAboutZara-content-left {
    margin-top: 10px;
}

.GlobalAboutZara-content-left p {
    margin-top: 2px;
    font-size: 1.1em;
}