
.ArticleRandonne-container{
    width: 85%;
    margin: 0px auto;
    padding: 30px 0px;
}
.ArticleRandonne-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    transition: .5s;

}
.ArticleRandonne-title h1{
   color: var(--bg);
}
.ArticleRandonne-title{
    text-align: center;
    padding: 20px 0px
}
.ArticleRandonne-card{
    width: 300px;
    transition: 3s;
}
.ArticleRandonne-card-img img{
    width: 100%;
}
.ArticleRandonne-btn{
    margin-top: 30px;
}
.ArticleRandonne-card-detail h1{
   color: var(--bg);
   font-size: 1.5em;
}
.img_center{
    height: 220px;
    object-fit: cover;
    transition: .3s;
}

@media screen and (max-width:1024px) {
    .ArticleRandonne-card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
    }
    .HomeRandonne-contact {
        margin-bottom: 15px;
    }
    .ArticleRandonne-card{
        width: auto;
    }
    .ArticleRandonne-card-detail{
        font-size: 2em;
    }
    .HomeRandonne-contact p{
        font-size: 2em;
    }
    .ArticleRandonne-card-img img{
        width: 100%;
    }
}